@import "../css/var";

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(128, 128, 128, 0.381);
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.weather-container {
  width: 40vw;
  height: 70vh;
  margin: 8rem auto;
  display: flex;
  .left-container {
    width: 22vw;
    height: 70vh;
    background-image: url(../assets/weatherbg.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 70%;

    .location-name {
      width:21vw;
      height: 3vh;
      color: $fontcolorsecondry;
      font-size: $fontsizeprimary;
      text-align: end;
      font-weight: $fontwightprimary;
      text-transform: capitalize;
    }
    .Digitaltime-container {
      width: 14vw;
      height: 4vh;
      font-size: 3rem;
      color: $fontcolorsecondry;
      font-weight: $fontwightprimary;
      transform: translate(0rem, 30rem);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #DigitalHour,#DigitalMinutes,#DigitalSeconds,#DigitalAmPm,span{
    gap: 2em;
}
    .date-temp {
      width: 22vw;
      height: 4vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform: translate(0rem, 33rem);
      .date {
        width: 19vw;
        height: 3vh;
        font-size: $fontsizeprimary;
        color: $fontcolorsecondry;
        font-weight: $fontwightprimary;
      }
      .temp-c {
        width: 3vw;
        height: 3vh;
        font-size: $fontsizeprimary;
        color: $fontcolorsecondry;
        font-weight: $fontwightprimary;
        #Temp{
          font-size: $fontsizeprimary;
        }
      }
    }
  }
  .right-container {
    width: 18vw;
    height: 70vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.202);
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-box {
      width: 18vw;
      height: 10vh;
      margin: 1rem 0;
      .logo-img{
        width: 10vw;
        height: 10vh;
      }
    }
    .weather-info{
      width: 14vw;
      height: 4vh;
      font-size: 30px;
      font-weight:500;
      color: $fontcolorsecondry;
      border-bottom: 2px solid rgba(255, 255, 255, 0.684);
    }
    .search-box {
      width: 15vw;
      height: 6vh;
      background-color:transparent;
      display: flex;
      gap:0.5rem;
      justify-content: center;
      align-items: center;
      .inputsearch {
        width: 9vw;
        height: 3vh;
        outline: none;
        border: none;
        color: $fontcolorsecondry;
        font-weight: $fontwightprimary;
        text-transform: uppercase;
        background-color: transparent;
        border-bottom: 2px solid rgb(240, 240, 240);
      }
      #citySubmit {
        width: 2vw;
        height: 4vh;
        border-radius: 100%;
        color: #ffff;
        background-color:rgba(246, 246, 246, 0.059);
        border: none;
      }
    }
  .location-box{
    width:15vw;
    height: 4vh;
    color: $fontcolorsecondry;
    border-bottom: 1.5px solid white;
    text-transform: capitalize;
  }
  .temp-box{
    width:15vw;
    height: 4vh;
    color: $fontcolorsecondry;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid white;
  }
  .humidity-box{
    width:15vw;
    height: 4vh;
    color: $fontcolorsecondry;
    border-bottom: 1.5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  .maxtemp-box{
    width:15vw;
    height: 4vh;
    color: $fontcolorsecondry;
    border-bottom: 1.5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mintemp-box{
    width:15vw;
    height: 4vh;
    color: $fontcolorsecondry;
    border-bottom: 1.5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .wind-box{
      width:15vw;
      height: 4vh;
      color: $fontcolorsecondry;
      border-bottom: 1.5px solid white;
      display: flex;
    justify-content: space-between;
    align-items: center;
    }
  }
}
